{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}

{% set class = 'wm-untitled' %}
{% if content.field_fronta_page_section_header[0] %}
	{% set class = 'wm-titled' %}
{% endif %}

<div{{ attributes.addClass(['wm-front-page-section', class]) }}>
	{% if content.field_fronta_page_section_header[0] %}
		<h2 class="wm-section-title"> {{ content.field_fronta_page_section_header[0] }} </h2>
	{% endif %}

	{{ content.field_front_page_image[0] }}

	{% if content.field_front_page_section_text or content.field_front_page_section_link %}
	<div class="wm-section-content">
		{{ content.field_front_page_section_text[0] }}
		{{ content.field_front_page_section_link[0] }}
	</div>
	{% endif %}
</div>
