<header>
	<nav class="supernav">
		{{page.supernav}}
	</nav>
</header>

<div class="wp-page">
	<div class="wp-region wp-top">
		{{page.top}}
	</div>
	<div class="wp-region wp-content">
		{{page.content}}
	</div>
	<div class="wp-region wp-bottom">
		{{page.bottom}}
	</div>
</div> <!-- page -->

<footer>
	<div class="wp-region wp-footer">
		{{page.footer}}
	</div>
</footer>
