<header>
	<nav class="supernav">
		{{page.supernav}}
	</nav>
</header>

<main class="wm-page">
	<div class="wm-region wm-top">
		{{page.top}}
	</div>
	<div class="wm-region wm-content">
		{{page.content}}
	</div>
	<div class="wm-region wm-bottom">
		{{page.bottom}}
	</div>
</main> <!-- page -->

<footer class="wm-footer">
		{{page.footer}}
</footer>
